@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
} 


body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
}


/* Eshte per te gjith 'kutine'*/
.container {
	position:relative;
	width: 850px;
	height: 550px;
	background: #fff;
	margin: 20px;
	border-radius: 30px;
	box-shadow: 0 0 30px rgba(0,0,0,0.2);
	overflow: hidden;
}


.container h1 {
	font-size: 36px;
	margin: 10px 0;
}

.container p {
	font-size: 14.5px;
	margin: 15px 0;	
}

form {
	width: 100%;
}

.form-box {
	position: absolute;
	right: 0;
	width: 50%;
	height: 100%;
	background: #fff;
	text-align: left;
	color: #333;
	padding: 40px;
	z-index: 1;
	transition: 0.6s ease-in-out 1.2s,visibility 0;
}

.container.active .form-box {
	left: 50%;
}

.form-box.register {
	visibility: hidden;
}

.container.active .form-box.register{
	visibility: visible;
}

.input-box {
	position: relative;
	margin: 30px 0;
}

.input-box input {
	width: 100%;
	padding: 13px 50px 13px 10px;
	background: #fff;
	border-radius: 8px;
	outline: none;
	border:none;
	background: #eee;
	font-size: 16px;
	font-weight: 500;
	color: #333;
}

.container.active  .role-select-wrapper {
	color: #333;
	display: flex;
	justify-content: left;
}

.container.active p,
.container.active h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.container.active  .gender-select-wrapper {
	color: #333;
	display: flex;
	justify-content: left;
}

.container.active .gender-select-wrapper select {
	margin-left: 10px;
}

.container.active .role-select-wrapper select {
	margin-left: 10px;
}

.input-box input::placeholder {
	color: #888;
	font-weight: 400;
}

.input-box i{
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}

.login-register-link ,
.forgot-password{
	margin: -15px 0 15px;
} 

.login-register-link a,
.forgot-password a {
	font-size: 14.5px;
	color: #333;
}

button {
	width: 100%;
	height: 48px;
	background: #7494ec;
	box-shadow: 0 0 10px rgba(0 , 0 , 0, 0.1);
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	color : #fff;
	font-weight: 600;
}


.social-icons {
	display: flex;
	justify-content: center;
}

.social-icons a {
	display: inline-flex;
	padding: 10px;
	border: 2px solid #ccc;
	font-size: 24px;
	color: #333;
	margin: 0 8px;
}

.toggle-box {
	position: absolute;
	width: 100%;
	height: 100%;
}

.toggle-box::after {
	content: '';
	position: absolute;
	left: -250%;
	width: 300%;
	height: 100%;
	background: #7494ec;
	border-radius: 150px;
	z-index: 2;
	transition: 1.8s ease-in-out;
}


.container.active .toggle-box::before {
	left: 50%;
}

.toggle-panel{
	position: absolute;
	width: 50%;
	height: 100%;
	color: #fff;
	display: flex;
}



.login-body {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	box-sizing: border-box;
	background: lightgray;
	font-size: 1.5rem;
}

.login-box {
	position: relative;
	background: lightblue;
	border-radius: 20px;
	width: 400px;
	height: 450px;
	display: flex;
	flex-direction: column;
}

.login-box input {
	height: 1.5rem;
	width: 10rem;
	margin-bottom: 0.5rem;
}

h2 {
	font-size: 4rem;
	text-align: center;
	color: #fff;
}

.login-body .login-box label {
	font-size: 2rem;
	font-weight: 500;
	padding-left: 2rem;
}

.input-box {
	padding-top: 2rem;
	width: 310px;
	margin: 30px;
	border-bottom: 2px solid #fff;
	padding-bottom: 1px;
}


.login-button button {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 0.3rem 1rem;
	margin-left: 17rem;
	margin-top: 2rem;
	font-size: 1rem;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.register-link {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.register-link .register {
	text-decoration: none;
	font-size: 1.6rem;
}

.register-link .register:hover {
	font-size: 1.6rem;
}

.remember-me label input {
	font-size: 1px;
	color: #555;
	margin-left: 5px;
	cursor: pointer;
}

.remember-me input[type='checkbox'] {
	margin-right: -35px;
	vertical-align: middle;
}

.crud-section {
	padding: 0 0 32px 0;
	border-color: gray;
	border-style: solid;
	border-width: 0px;
	max-width: 90vw;
	margin: 0 auto;
	border-bottom-width: 1px;
	overflow-x: auto;
}

.crud-section form {
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 12px;
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 8px;
}

.crud-section form h3 {
	margin-top: 0px;
}

.crud-section table {
	border-collapse: collapse;
	border-radius: 6px;
	min-width: 100%;
}

.crud-section table th {
	border: 1px solid #ccc;
	padding: 8px 12px;
	text-align: left;
	background-color: #f9f9f9;
}


.forgot-password:hover {
	font-size: 1.2rem;
	transition: all 0.3s ease;
	color: red;
}

.login {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	color: blue;
}

.login-body .form .input-box input {
	font-size: 1.3rem;
}

.icon {
	font-size: 1.2rem;
	padding-top: 0;
	padding-right: 1rem;
}

.error {
	color: red;
	font-size: 1.4rem;
	text-align: center;
	margin-top: 1rem;
	min-height: 2rem;
	margin: 0;
} 


.login-register-link ,
.login-link{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #374151;
	padding-top: 1.5rem;
}


.login-register-link:hover ,
.login-link:hover{
  color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(1.05);
	transition: border-color 0.2s, box-shadow 0.2s;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	transition : all 0.25s ease;
}


.page .crud-section form {
	display: flex;
	overflow: visible;
	flex-direction: column;
	gap: 2px;
	height: 100%;
	width: 100%;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 30px;
}

.page .crud-section .user-button {
	margin: 20px;
}

body.page {
	display: flex;
	flex-direction: column;
	padding-top: 3rem;
}

.page .crud-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 90rem;
	margin-bottom: 2rem;
}



.topnav {
	overflow: hidden;
	height: 4.5rem;
	position: fixed;
	top: 0;
  right: 0;
  width: -50%; 
	gap: 4rem;        
  background-color: #384b6e;
  color: white;
  padding: 1rem;
  z-index: 1000;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}


.topnav a {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	padding-right: 2rem;
	text-decoration: none;
	font-size: 17px;
	padding-top: 1.5rem;
}

.topnav a:hover {
	color: black;
} 


 .topnav a.active {
	color: #04aa6d;
}


